@model E_Prescription2.Models.MedicationActiveIngredient;

@{
    ViewData["Title"] = "Create";
}
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legand {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border-radius: 4px;
        border: 1px solid #ddd;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
 

<fieldset>
    <h1>Create</h1>
<legend> Medication</legend>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicationId" class="control-label">Medication Name</label>
                <select asp-for="MedicationId" class ="form-control" asp-items="ViewBag.MedicationId"><><option></option></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label">Schedule</label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"><option></option></select>
            </div>
            
            <div class="form-group">
                <label asp-for="DosageFormId" class="control-label">Dosage Form</label>
                <select asp-for="DosageFormId" class="form-control" asp-items="ViewBag.DosageFormId"><option></option></select>
            </div>
            <fieldset style="margin-top:20px;" class="col-md-80">
                <legend>Active Ingredients</legend>
                  
@*            <div class="form-group">
                <label asp-for="ActiveIngredientId" class="control-label">Active Ingredient Name</label>
                   <select asp-for="ActiveIngredientId" style="text-align:left" class="form-control" asp-items="ViewBag.ActiveIngredientId"><option></option></select>
            </div>


                    <div class="form-group" style="text-align:left" id="firstdiv">
                <label asp-for="Strength" class="control-label"></label>
                        <input asp-for="Strength" style="text-align:left" class="form-control" type="text" name="testinput" />
                    <button  value="add dynamic" type="button" class="btn btn-sm btn-secondary visible" onclick="DynamicText()">
                    Add
                    </button>
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>*@
                <table id="CodesTable" class="table table-borderless table-sn mb-0 pb-0">
                    <thead>
                        <tr>
                            <th>
                                Active Ingredient Name
                            </th>
                            <th>
                                Strength
                            </th>
                            <th style="width:60px;">
                                <button  value="add dynamic" type="button" class="btn btn-sm btn-secondary visible" onclick="AddItem(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(int i=0;i<3;i++)
                        {
                            <tr>
                                <td>
                                    <select asp-for="ActiveIngredientId" class="form-control" asp-items="ViewBag.ActiveIngredientId"><option></option></select>
                                </td>
                                <td>
                                    <input asp-for="Strength" class="form-control" type="text" name="testinput"/> 
                                </td>
                                <td style="width:60px;">
                                        <button id='btnremove-@i' type="button" class="btn btn-sm btn-danger visible">
                                            Delete
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </fieldset>
              
            
            
            
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" style="margin-top:20px;" />
            </div>
        </form>
    </div>
</div>
</fieldset>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@*<script src="~/js/site.js"></script>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function AddItem(btn) {
            var table;
            table = document.getElementById('CodesTable');
            var rows = table.getElementByTagName('tr');
            var rowOuterHtml = rows[rows.length - 1].outerHTML;

            var lastrowIdx = rows.length - 2;
            var nextrowIdx = eval(lastrowIdx) + 1;
            rowOuterHtml = rowOuterHtml.replaceAll('_' + lastrowIdx + '_', '_' + nextrowIdx + '_');
            rowOuterHtml = rowOuterHtml.replaceAll('[' + lastrowIdx + ']', '[' + nextrowIdx + ']');
            rowOuterHtml = rowOuterHtml.replaceAll('-' + lastrowIdx + '-' + nextrowIdx);

            var newRow = table.insertRow();
            newRow.innerHTML = rowOuterHtml;

            var x = document.getElementsByTagName("INPUT")
            for (var cnt = 0; cnt < x.length; cnt++) {
                if (x[cnt].type == "text" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0)
                    x[cnt].value = '';
                else if (x[cnt].type == "number" && x[cnt].id.indexOf('_' + nextrowIdx + '_') > 0)
                    x[cnt].value = 0;
            }
        }
    </script>
}

