@model E_Prescription2.Models.MedicationActiveIngredient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MedicationActiveIngredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MediActiveId" />
            <div class="form-group">
                <label asp-for="MedicationId" class="control-label">Medication Name</label>
                <select asp-for="MedicationId" class="form-control" asp-items="ViewBag.MedicationId"><><option>---please choose a medication name---</option></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label">Schedule</label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"><option>---please choose a schedule---</option></select>
            </div>
            <div class="form-group">
                <label asp-for="DosageFormId" class="control-label">Dosage Form</label>
                <select asp-for="DosageFormId" class="form-control" asp-items="ViewBag.DosageFormId"><option>---please choose a dosage form---</option></select>
            </div>
            <div class="form-group">
                <label asp-for="ActiveIngredientId" class="control-label">Active Ingredient Name</label>
                <select asp-for="ActiveIngredientId" class="form-control" asp-items="ViewBag.ActiveIngredientId"><option>---please choose an active ingredient name---</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
