@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-area="" asp-controller="UserRoles" asp-action="Index" class="btn btn-primary">Assign Roles To Users</a>
    <a asp-area="" asp-controller="RoleManager" asp-action="Index" class="btn btn-primary">Add New Roles</a>
</div>

