@{
    ViewData["Title"] = "Doctor Page";
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
}

 <style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legand {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border-radius: 4px;
        border: 1px solid #ddd;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>
<fieldset>

  <!-- Content Start -->
        <div class="content">
           

            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Messages</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <div class="nav-item dropdown">
                <partial name="_LoginPartial" />
                    </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>

                </div>

                 
                
               
            </nav>

            
           

            <!-- Navbar End -->
            <div class="bg-light rounded d-flex align-items-left justify-content-around">
                <h4 class="text-secondary">Welcome Doctor</h4>
                </div>


                <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4" style="margin-top:20px;">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            @*<i class="fa fa-chart-line fa-3x text-primary"></i>*@
                   <i class="fa-sharp fa-solid fa-prescription-bottle-medical fa-3x"></i>
                            <div class="ms-3">
                       
                        <a asp-area="" asp-controller="Prescriptions" asp-action="Index" class="nav-item nav-link">View Prescriptions</a>
                               @* <h6 class="mb-0">$1234</h6>*@
                            </div>
                        </div>
                    </div>
            <div class="col-sm-12 col-xl-6" style="margin-top:20px;">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            @*<i class="fa fa-chart-bar fa-3x text-primary"></i>*@
                    <i class="fa-sharp fa-solid fa-viruses fa-3x text-primary"></i>
                            <div class="ms-3">
                        <p class="nav-item nav-link">View Chronic Coditions</p>
                                @*<h6 class="mb-0">$1234</h6>*@
                            </div>
                        </div>
                    </div>
            <div class="col-sm-12 col-xl-6" style="margin-top:20px;">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            @*<i class="fa fa-chart-area fa-3x text-primary"></i>*@
                    <i class="fa-sharp fa-solid fa-prescription-bottle-medical fa-3x text-primary"></i>
                            <div class="ms-3">
                        <p class="nav-item nav-link">View Chronic Medication</p>
                               @* <h6 class="mb-0">$1234</h6>*@
                            </div>
                        </div>
                    </div>
            <div class="col-sm-12 col-xl-6" style="margin-top:20px;">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            @*<i class="fa fa-chart-pie fa-3x text-primary"></i>*@
                    <i class="fa-sharp fa-solid fa-person-dots-from-line fa-3x text-primary"></i>
                            <div class="ms-3">
                        <a asp-area="" asp-controller="DrugAllergies" asp-action="Index" class="nav-item nav-link">Drug Allergies</a>
                               @* <h6 class="mb-0">$1234</h6>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-sm-12 col-xl-6" style="margin-top:20px;">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            @*<i class="fa fa-chart-pie fa-3x text-primary"></i>*@
                     <i class="fa-sharp fa-solid fa-viruses fa-3x text-primary"></i>
                            <div class="ms-3">
                        <a asp-area="" asp-controller="ViewPatients" asp-action="Index" class="nav-item nav-link">View Patients</a>
                               @* <h6 class="mb-0">$1234</h6>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


      

         


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">BitxBit</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">BitxBit</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        </fieldset>