@{
    ViewData["Title"] = "CascadeDropdown";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post">
                <div class="form-group">
                    <label>Province</label>
                    <select class="form-control" id="Province">
                        <option>---select province---</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>City</label>
                    <select class="form-control" id="City">
                        <option>---select city---</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Suburb</label>
                    <select class="form-control" id="Suburb">
                        <option>---select suburb---</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Postal Code</label>
                    <select class="form-control" id="PostalCode">
                        <option>---select postal code---</option>
                    </select>

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>*@
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/chusta.js"></script>
