@model E_Prescription2.Models.ContraIndication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContraIndication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActiveIngredientId" class="control-label"></label>
                <select asp-for="ActiveIngredientId" class ="form-control" asp-items="ViewBag.ActiveIngredientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConditionId" class="control-label"></label>
                <select asp-for="ConditionId" class ="form-control" asp-items="ViewBag.ConditionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConditionId" class="control-label"></label>
                <select asp-for="ConditionId" class="form-control" asp-items="ViewBag.ConditionIds"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

