@model E_Prescription2.Models.MedicationInteraction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicationInteraction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveIngredientOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveIngredientOne.ActiveIngredientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveIngredientTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveIngredientTwo.ActiveIngredientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MediInteractionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
